<nav aria-label="Page navigation example">
  <ul class="pagination my-1">
    <li class="page-item">
      <button class="page-link"
        (click)="pageButtonHandler(pageIndex - 1)"
        [attr.disabled]="pageIndex === 0 ? true : null"
      >
        Previous
      </button>
    </li>
    <li *ngFor="let gamesPage of gamesPages; let idx = index;" class="page-item" 
        [ngClass]="idx === pageIndex ? 'active' : ''">
      <button class="page-link"
        (click)="pageButtonHandler(idx)"
      >
        {{ idx + 1 }}
      </button>
    </li>
    <li class="page-item">
      <button class="page-link"
        (click)="pageButtonHandler(pageIndex + 1)"
        [attr.disabled]="pageIndex === gamesPages.length - 1 ? true : null"
      >
        Next
      </button>
    </li>
  </ul>
</nav>
